LARMOR_FREQ = 15.434717
RF_MAX = 7340

GX_MAX = 9.5e6
GY_MAX = 11.5e6
GZ_MAX = 10e6

SHIM_X = 0
SHIM_Y = 0
SHIM_Z = 0

MGH_PATH = 'PATH/TO/mgh/DIR'
LOG_PATH = 'PATH/TO/PROGRAM/LOG/DIR'
SEQ_PATH = 'PATH/TO/SEQ/FILES/DIR'
DATA_PATH = 'PATH/TO/DATA/OUTPUT/DIR'